// media queries:
$mobileWidth: 576px;
$samllWidth: 768px;
$mediumWidth: 992px;
$largeWidth: 1200px;

// colors:
$mainColor: #f79837;
$whiteColor: #ffffff;
$blackColor: #333333;
$greyColor: #555555;
$paragraphCcolor: #777c87;

// fix values:
$radius: 0.5rem;
$defaultFont: 16px;
$generalPadding: 80px;
$bottomTopPadding: 25px 20px;
$rounded: 50%;
$asidePadding: 100px 15px 25px;
