section(class='search_box', id='searchBox')
    .container 
        button(class='closeBtn closeBtn',
                data-el='searchBox')
            img(src="../imgs/icons/times.svg", alt="close aside logo")
        form(action="#")
            input(type="search", placeholder='Type Keyword(s) Here...')
            input(type="submit", value="Search")